<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th *ngFor="let col of columns">{{ col.header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let col of columns">
          <!-- Si el campo es nota_final, podemos darle estilo especial -->
          <ng-container *ngIf="col.field === 'nota_final'; else textCell">
            <span [class.text-success]="row[col.field] >= 70" [class.text-danger]="row[col.field] < 70">
              {{ row[col.field] }} pts
            </span>
          </ng-container>
          <ng-template #textCell>
            {{ row[col.field] }}
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>